/* Estilos para forgot_password.html */

.card {
    border-radius: 0.6rem;
  }
  
  h2 {
    color: #111827;
    font-weight: 600;
  }
  
  .btn-primary {
    background-color: #007bff;
    border: none;
    transition: background-color 0.2s ease;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  